.btn {
  display: inline-block;
  font-size: 16px;
  background-color: #c9453b;
  border-radius: 5px;

  &:hover {
    background-color: #da1709;
    transition: background-color 0.3s;
  }
}

.subtitle {
  font-size: 18px;
  line-height: 1.6;
  opacity: 0.6;
}
