.container {
  max-width: 1160px;
  padding: 0 10px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  font-size: 16px;
  background-color: #c9453b;
  border-radius: 5px;

  &:hover {
    background-color: #da1709;
    transition: background-color 0.3s;
  }
}

.title {
  font-family: $gelasio;
  font-weight: 500;
  font-size: 43px;

  text-align: center;
}

.subtitle {
  font-size: 18px;
  opacity: 0.6;
  text-align: center;
}

@media (max-width: 576px) {
  .title {
    font-size: 33px;
  }
  .subtitle {
    font-size: 16px;
  }
}
