@import url("https://fonts.googleapis.com/css2?family=Gelasio:wght@500;700&family=Ribeye&family=Roboto:wght@400;500&display=swap");

$gelasio: "Gelasio", serif;
$ribeye: "Ribeye", cursive;
$roboto: "Roboto", sans-serif;
